<div class="row">
  <div class="col-md-3">
    {{ model.author._id }} <br />
    {{ model.author.name }} <br />
    {{ model.author.picture }} <br />
    {{ model.score }} <br />
    {{ model.datetime }} <br />
  </div>
  <div class="col-md-9">
    {{ model.message }}
  </div>

</div>