<tr {{#if model.userIsAttending }}class="bg-success"{{/if}}>
  <td>{{ model.sortableDate }}</td>
  <td data-hook="title"></td>
  <td><span data-hook="venue-city"></span>, <span data-hook="venue-state"></span></td>
  <td><a data-hook="venue-name"></a></td>
  <td>
    <a class="btn-primary btn-xs" href="{{ model.ticket_url }}" target="_blank">Buy Tickets</a>
    <a class="btn-primary btn-xs" href="/events/{{ model._id }}">Details</a>
    {{#if model.userIsAttending }}
    <span class="btn-success btn-xs attend" id="attend-{{model._id}}">Attending</span>
    {{ else }}
    <span class="btn-danger btn-xs notAttend" id="attend-{{model._id}}">Attending</span>
    {{/if}}
  </td>
</tr>