<tr>
  <td>{{ model.sortableDate }}</td>
  <td>{{ model.artistName }}</td>
  <td>{{ model.venue.city }}, {{ model.venue.region }}</td>
  <td data-hook="venue_name">{{ model.venue.name }}</td>
  <td>
    <a href="{{ model.ticket_url }}" target="_blank">Buy Tickets</a> -
    <a href="/events/{{ model._id }}">Details</a></td>
</tr>