<div class="row">
  <div data-hook="event-name"></div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-3">
        <img data-hook="author-photo" src="{{ model.author.picture }}" class="img-responsive" />
      </div>
      <div class="col-md-9">
        <a href="/users/{{ model.author._id }}"><span data-hook="author-first-name"></span> <span data-hook="author-last-name"></span></a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <span data-hook="message">{{ model.message }}</span>
    </div>
    <div class="row">
      <small>Created on: {{ model.datetime }}, Score: {{ model.score }}.
        <a data-hook="upvote">Upvote</a> - <a data-hook="downvote">Downvote</a></small>
    </div>
  </div>

</div>