<tr>
  <td><img class="img-responsive img-thumbnail" src="{{ model.picture }}"
  /> </td>
  <td>{{ model.first_name }}</td>
  <td>{{ model.last_name }}</td>
  <td>{{ model.eventCount }}</td>
  <td><a href="/users/{{ model._id }}">Details</a></td>
</tr>