<tr>
  <td style="width: 10%"><img class="img-thumbnail" src="{{ model.picture }}" /> </td>
  <td>{{ model.name }}</td>
  <td>{{ model.city }}</td>
  <td>{{ model.state }}</td>
  <td><a href="/venues/{{ model.name }}">Details</a></td>
</tr>